<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="Rewrite all files ">
     			 <match url="^([^\.]+)/([0-9]+)/([_0-9a-z-]+)" />
   		  		<action type="Rewrite" url="{R:1}.php?id={R:2}&amp;title={R:3}" appendQueryString="true" />
    		</rule>
			
			<rule name="Imported Rule 1" stopProcessing="true">
    		   <!--<match url="([_0-9a-z-]+)$"  />-->
			   <match url="^([^\.]+)$"  ignoreCase="true" />
				<!--   <conditions logicalGrouping="MatchAny">
				  <add input="{REQUEST_FILENAME}" matchType="IsFile"  />
				  <add input="{REQUEST_FILENAME}" matchType="IsDirectory"  />
			    </conditions>-->
				<action type="Rewrite" url="{R:1}.php" />
      			<!--<action type="None" />-->
    		</rule>
			
		<!--<rule name="Imported Rule 2" stopProcessing="true">
			  <match url="^(.*)$" />
			  <action type="Rewrite" url="index.php" />
    		</rule>-->
		</rules>
    </rewrite>
  </system.webServer>
</configuration>


<!--.htaccess file coding
<IfModule mod_rewrite.c>
RewriteEngine On

#REWRITE RULES
#---------------------

#RULE REWRITE ALL FILES  

RewriteRule ^([^\.]+)/([0-9]+)/([_0-9a-z-]+) $1.php?id=$2&title=$3 []

#RULE IMPORTED RULE 1 

RewriteRule ^([^\.]+)$ $1.php [L]

</IfModule>-->

